p {
    margin: 5px;
}

.task-item{
    margin: 15px;
}

.target-form{
    display: flex;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    background-color: white
}

.task-list{
    overflow-y: scroll;
    height: 1000px
}

.target-expand{
    padding: 15px;
}

.inactive{
 opacity: .3;
}