body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.login-form {
    background-image: url(../../images/shroom-trans.png);
    background-size: cover;
    width: 600px;
    height: 540px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
}

.login-box {
    color: white;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    justify-content: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 40px;
    padding: 20px;

}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #1C3865;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #0A234A;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
 
}

.login-field{
    color: white
}


