.taskForm{
    background-color: white;
    width:80%;
    /* height: 500px */
}

.formField{
    margin: 8px !important;
}

.formFieldSelect{
    width: 100px;

}

.operator{
    width:100px;
}

.taskDescription{
    width: 70%
}