/* .fixedHeader{
    position: absolute;
} */

.dataCell{
    word-wrap: break-word;
    border: solid lightgrey 1px;
    border-spacing: border-box;
}

.headerCell{
    border-spacing: border-box;
    word-wrap: break-word;
    overflow: auto;
    border: solid black .5px;
}

/* .selectCell{
    border-spacing: border-box;
    background-color: lightblue;
    border: solid blue 3px;
} */

.selectRow{
    background-color: lightblue;
    word-wrap: break-word;
    border: solid grey .5px;
    border-spacing: border-box;
    overflow: auto;
}

.selectColumn{
    /* background-color: lightblue; */
    word-wrap: break-word;
    border: solid grey .5px;
    border-spacing: border-box;
}