/* .fixedHeader{
    position: absolute;
} */

.dataCell{
    word-wrap: break-word;
    border: solid grey .5px;
    border-spacing: border-box;
}

.headerCell{
    border-spacing: border-box;
    word-wrap: break-word;
    border: solid grey .5px;
}

.selectCell{
    border-spacing: border-box;
    border: ridge #6FA0F6 3px;
}